{:deps              {}
 :npm-deps          {:install false}
 :nrepl             {:port 9000}
 :open-file-command ["/Applications/IntelliJ IDEA.app/Contents/MacOS/idea" :pwd "--line" :line :file]
 :builds            {:main {:target            :browser
                            :output-dir        "resources/public/js/main"
                            :asset-path        "/js/main"
                            :js-options        {:ignore-asset-requires true}
                            :modules           {:app     {:entries [dataico.client]} }
                            :compiler-options  {:source-map true}
                            :dev               {:compiler-options {:external-config {:guardrails {}
                                                                                     :fulcro     {:html-source-annotations? true}}}}
                            :devtools          {:after-load dataico.client/refresh
                                                :preloads   [com.fulcrologic.devtools.chrome-preload
                                                             dataico.development-preload]}}}}
